<!DOCTYPE html>
<html>
<head>
  <title>Colchonet</title>
  <link	href='http://fonts.googleapis.com/css?family=Pacifico'
																						rel='stylesheet'	type='text/css'>
		<%=	stylesheet_link_tag	"application",
      media:	"all",
      "data-turbolinks-track"	=>	true	
    %>
    <%= stylesheet_link_tag    'application', 
      media: 'all', 
      'data-turbolinks-track' => true 
    %>

  <%= csrf_meta_tags %>
</head>
<body>
  <head>
    <div class="header-wrap">
      <h1><%= link_to "colcho.net", root_path %></h1>
        <nav>
          <ul>
            <li><%= link_to "Quartos", rooms_path %></li>
            <li><%= link_to "Cadastro", new_user_path %></li>
          </ul>
        </nav>
    </div>
  </head>

  <div class="container">
    
    <% if notice.present? %>
      <p id="notice"><%= notice %>
    <% end %>
    <% if alert.present? %>
      <p id="alert"><%= alert %>
    <% end %>

    <%= yield %>
  
  </div>

</body>
</html>
